.kutu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    border: 2px solid black;
}
#kutunun {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#text {
    margin-top: 3vh;
}
#text1 {
    margin-top: 3vh;
}